@import "tailwindcss";

@theme {
  --color-cream: #f6f3ed;
  --color-green-900: #1c2e1c;
  --color-green-800: #2d4a2d;
  --color-sage: #d8dcd6;
  --color-muted: #C6C5D0;

  --font-serif: var(--font-dm-serif), serif;
  --font-sans: var(--font-inter), sans-serif;
}

:root {
  --foreground-rgb: 28, 46, 28;
  --background-start-rgb: 246, 243, 237;
  --background-end-rgb: 246, 243, 237;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}